<div class="form-container">
  <h2>Editar Universidad</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label>
      Nombre:
      <input type="text" formControlName="nombre" required />
    </label>

    <label>
      Dominio del Correo:
      <input type="text" formControlName="dominio_correo" required />
    </label>

    <label>
      Logo URL:
      <input type="text" formControlName="logo_url" />
    </label>

    <button type="submit" [disabled]="form.invalid">Guardar</button>
    <button type="button" (click)="onCancel()">Cancelar</button>
  </form>
</div>
